body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e6eaef;
}

.form-container {
  border-radius: 5px;
  background-color: white;
  min-width: 510px;
  min-height: 717px;
  padding: 50px 40px;
}
.blah {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
